node_modules
dist
dist-ssr
.env
.env.local
.env.*.local
android/app/build
android/build
.DS_Store
*.keystore
*.log
npm-debug.log*
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tsconfig.tsbuildinfo
